.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.ui.blue.button {
  background-color: #2185d0;
  color: #fff;
  text-shadow: none;
  background-image: none;
  float: right;
}

.ui.avatar.image{
  margin-right: 0.25em;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 500rem;
}